.bonus-cards {
	margin-top: 80px;

	.hr {
		margin: 16px 0;
	}
}

.bonus-cards__top {
	.text-descr {
		margin-top: 16px;
	}
}

.bonus-cards-sort {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	align-items: center;
}

.bonus-cards-sort-item {
	padding: 14px 20px;
	background: #252525;
	line-height: 110%;
	border-radius: 8px;
	transition: all 0.2s ease;
	display: flex;
	height: 46px;
	cursor: pointer;

	&.active {
		background: #333333;
	}

	&.--pin {
		width: 46px;
		height: 46px;
		align-items: center;
		justify-content: center;
		padding: 0;
	}
	&:hover {
		background: #333333;
	}
}

.bonus-cards-results {
	display: flex;
	align-content: inherit;
	justify-content: space-between;
	margin-top: 16px;
}

.bonus-cards-wrap {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

// Bonus Card
.bonus-card {
	border-radius: 8px;
	overflow: hidden;
	background: #252525;
	.hr {
		margin: 16px 0;
	}
}

.bonus-card__header {
	background: #1a1a1b;
	padding: 16px;
	display: flex;
	align-items: flex-start;
	gap: 32px;
}

.bonus-card__title {
	font-weight: 700;
	transition: all 0.2s ease;
	&:hover {
		color: $primary;
	}
}

.bonus-card__date {
	margin-top: 4px;
	margin-left: auto;
	font-size: 14px;
	color: rgba(#fff, 0.5);
	line-height: 110%;
	flex-shrink: 0;
}

.bonus-card__body {
	padding: 16px;
	display: flex;
	align-items: flex-start;
	gap: 32px;
}

.bonus-card__image {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;
	}
}

.bonus-card__info {
	flex-grow: 1;
}

.bonus-card-bonuscode {
	display: flex;
	align-items: center;
	gap: 16px;
	.bonuscode {
		width: 100%;
		padding: 12px 24px;
	}
}

.bonus-code-features {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 16px;
}

.bonus-code-feature {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 100%;

	a {
		transition: color 0.2s ease;
		&:hover {
			color: $primary;
		}
	}
}

.bonus-code-feature__title {
	font-weight: 500;
}

.bonus-code-feature__value {
	&.gray {
		color: rgba(#fff, 0.5);
	}

	&.green {
		color: #00ff00;
	}

	&.red {
		color: #ff0000;
	}

	&.yellow {
		color: #ffff00;
	}
}

.bonus-code-gametypes {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

	a {
		background: $bg-color;
		padding: 4px 10px;
		border-radius: 8px;
		line-height: 1.2;

		&:hover {
			background: $primary;
		}
	}
}

.bonus-code-gametypes__title {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
}

.bonus-card__text_wrap {
	margin: 16px;
	padding: 16px;
	background: #1a1a1b;
	border-radius: 8px;
}

.bonus-card-casinos {
	margin-top: 24px;
	margin: 16px;
}

.bonus-card-casinos__title {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
}

.bonus-card-casinos__list {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	gap: 16px;
}

.bonus-card-casinos__item {
	display: flex;
	align-items: center;
}

.bonus-card-casinos__item_img {
	width: 64px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;
	}
}

.bonus-card-casinos__item_title {
	font-weight: 700;
	margin-left: 16px;
}

.bonus-card-casinos__item_btns {
	display: flex;
	margin-left: auto;
	align-items: center;
	gap: 16px;
}

.bonus-card-footer {
	background: #1a1a1b;
	padding: 16px;
	display: flex;
}

.bonus-card-footer__btns {
	display: flex;
	gap: 8px;
	margin-left: auto;
}

.bonus-cards-loadmore {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

// Bonus Card End

@media screen and (max-width: 1440px) {
	.bonus-cards__top .text-descr {
		margin-top: 8px;
	}
}

@media screen and (max-width: 1200px) {
	.bonus-card__body {
		gap: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.bonus-card__text_wrap {
		margin-top: 0;
	}

	.bonus-card__image {
		width: 120px;
		height: 120px;
	}

	.bonus-card-casinos__item_img {
		width: 48px;
	}
	.bonus-card-casinos__list {
		gap: 8px;
	}
	.bonus-card-casinos__item_title {
		font-size: 16px;
	}

	.bonus-code-features {
		gap: 16px;
	}
}

@media screen and (max-width: 768px) {
	.bonus-card__header {
		flex-direction: column;
		gap: 8px;
	}
	.bonus-card__body {
		flex-direction: column;
	}

	.bonus-card__image {
		display: none;
	}

	.bonus-card__info {
		width: 100%;
	}

	.bonus-card__text_wrap {
		margin-top: 16px;
	}

	.bonus-card-casinos__item {
		flex-wrap: wrap;
		gap: 8px;
	}

	.bonus-card-casinos__item_btns {
		width: 100%;
		justify-content: flex-end;
	}

	.bonus-card-casinos__list {
		gap: 16px;
	}
}
