.bonus-comp {
	margin-top: 40px;
	background: #1a1a1b;
	border-radius: 8px;
	overflow: hidden;
}

.bonus-comp-header {
	padding: 16px 16px;
	display: flex;
	align-items: center;
}

.bonus-comp__title {
	font-weight: 700;
	font-size: 20px;
}

.bonus-comp__title_info {
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.bonus-comp-list {
	display: flex;
	flex-direction: column;
}

.bonus-comp-item {
	padding: 12px 16px;
	display: flex;
	align-items: center;
	gap: 24px;
	background: #252525;
	border-bottom: 1px solid #111010;

	.bonuscode {
		margin-left: auto;
		width: 240px;
		flex-shrink: 0;
	}
}

.bonus-comp-item__label {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;

	&.green {
		color: $green;
	}
}

.bonus-comp-item__title {
	font-weight: 500;
	font-size: 18px;
	line-height: 140%;
}

.bonus-comp-footer {
	padding: 16px 16px;
	display: flex;
	align-items: center;
}

.bonus-comp-load-more {
	// color: $primary;
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: 500;
}

@media screen and (max-width: 1440px) {
	.bonus-comp-header {
		padding: 12px 16px;
	}

	.bonus-comp-item__title {
	}

	.bonus-comp-item {
		gap: 16px;
	}
}

@media screen and (max-width: 1024px) {
	.bonus-comp-item {
		gap: 16px;
		flex-wrap: wrap;

		.bonuscode {
			margin-left: 0;
			margin-right: auto;
		}
	}

	.bonus-comp-item__title {
		flex-grow: 1;
		width: 100%;
	}

	.bonus-comp-header {
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
	}

	.bonus-comp__title_info {
		margin-left: 0;
	}
}

@media screen and (max-width: 640px) {
	.bonus-comp-item {
		.bonuscode {
			width: 100%;
			margin-right: 0;
		}
	}

	.bonus-comp-item__title {
		font-size: 16px;
		font-weight: 700;
	}
}
