.casino-page__btns {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-top: 16px;
	.btn {
		min-width: 120px;
		padding: 12px 20px;
	}
}

.casino-page-wrap {
	margin-top: 20px;
}

.top-title-item__left {
	display: flex;
	align-items: center;
	gap: 24px;
}

.casino-page-title {
	font-size: 28px;
}

.casino-page-top {
	display: flex;
	gap: 32px;
	align-items: center;
}

.casino-page-logo {
	width: 120px;
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.index-page-hero__info {
	flex-grow: 1;
}

.casino-info {
	margin-top: 64px;
}

.casino-page-hr {
	margin: 16px 0;
}

.casino-reply {
	margin-top: 80px;
}

.casino-reply-title {
	font-weight: 700;
	font-size: 20px;
}

.casino-info__desr {
	line-height: 150%;
}

.casino-reply-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-top: 16px;

	input,
	textarea {
		background: #1c1b20;
	}

	.btn {
		width: 100%;
		padding: 12px 20px;
		font-weight: 500 !important;
	}
}

.casino-features {
	margin-top: 16px;
	display: flex;
	align-items: flex-start;
	gap: 8px;
}

.casino-feature {
	padding: 16px 16px;
	background: $bg-card;
	border-radius: 8px;
	display: flex;
	width: 100%;
	line-height: 100%;
	flex-direction: column;
	// border: 1px solid rgba($white, 0.2);

	&.green {
		background: rgba($green, 0.1);
		// border: 1px solid $green;
	}
	&.danger {
		background: rgba($red, 0.1);
		// border: 1px solid $red;
		color: $red;
	}

	svg {
		width: 20px;
		height: 20px;
		display: block;
	}
}

.casino-feature-title {
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	gap: 12px;
	line-height: 100%;
}

.casino-feature-value {
	font-size: 18px;
	color: $text-gray;
}

.package-section-section {
	margin-top: 64px;
}

.package-section {
	width: 100%;
	margin-top: 16px;
	border: 1px solid #2e2e2e;
	border-radius: 8px;
	overflow-x: auto;
	background: #1a1a1b;
	color: #fff;
}

.package-header,
.package-row {
	display: grid;
	grid-template-columns: 20% 10% 10% 10% 20% 30%;
	padding: 16px;
	align-items: center;
}

.package-header {
	background: #1a1a1b;
	font-weight: 700;
	border-bottom: 1px solid #333;
	padding: 16px 16px;

	div {
		font-weight: 700 !important;
	}
}

.package-row {
	border-bottom: 1px solid #2a2a2a;
	transition: background 0.2s ease;
}

.package-item p {
	margin: 0;
}

.package-item .bonuscode {
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 12px 12px;
}

.casino-page-package-games {
	display: flex;
	flex-wrap: wrap;
	gap: 0 4px;

	a {
		color: $primary;
	}
}

.package-warn {
	grid-column: 1 / -1;
	margin-top: 8px;
	font-size: 14px;
	line-height: 140%;
	color: $text-gray;
	display: flex;
	gap: 8px;
	font-weight: 400;
	align-items: center;

	svg {
		width: 28px;
		height: 28px;
		flex-shrink: 0;
	}

	&.danger {
		color: $red;
		background: transparent;
	}
	&.green {
		color: $green;
	}
	&.warn {
		color: #ffc107;
	}
}

.package-item-title {
	display: none;
}

.casino-main-info {
	margin-top: 32px;
}

.casino-main-info__item_wrap {
	margin-top: 24px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}

.casino-main-info__item {
	border-bottom: 1px solid $gray;
	padding-bottom: 16px;
}

.casino-main-info__wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 0 8px;

	a {
		transition: all 0.2s ease-in-out;

		&:hover {
			color: $primary;
		}
	}
}

.casino-main-info__title {
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 2px;
	color: $gray;
}

.casino-related {
	margin-top: 64px;
}

.casino-related__text {
	color: $gray;
	margin-top: 8px;
}

.casino-related__items {
	margin-top: 16px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
}

.casino-related__item {
	background: $bg-card;
	border-radius: 8px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	border-left: 3px solid $primary;
}

.casino-related__item_title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.1;
}

@media screen and (max-width: 1440px) {
	.package-header,
	.package-row {
		display: grid;
		grid-template-columns: 20% 10% 10% 10% 25% 25%;
		padding: 16px;
		align-items: center;
	}

	.casino-feature {
		padding: 12px 16px;
	}

	.casino-page-title {
		font-size: 20px;
	}

	.casino-page-logo {
		width: 100px;
	}
}

@media screen and (max-width: 1024px) {
	.package-header,
	.package-row {
		grid-template-columns: 20% 10% 10% 10% 25% 25%;
		padding: 16px;
	}

	.package-warn svg {
		width: 20px;
		height: 20px;
	}

	.casino-main-info__item_wrap {
		grid-template-columns: repeat(1, 1fr);
		gap: 8px;
	}

	.casino-main-info__item {
		border: none;
		padding-bottom: 0;
	}

	.casino-main-info__item_wrap {
		margin-top: 16px;
	}
	.casino-page-update-date {
		display: none;
	}

	.casino-page-top {
		.top-title-item.gray-border {
			padding-bottom: 0;
			border-bottom: none !important;
		}
	}
}

@media screen and (max-width: 768px) {
	.package-warn {
		svg {
			display: none;
		}
	}

	.casino-page-top {
		gap: 8px;
		align-items: flex-start;
	}

	.top-title-item {
		gap: 8px;
	}
	.top-title-item.gray-border {
		border: none !important;
	}

	.casino-page-logo {
		width: 80px;
	}

	.casino-features {
		margin-top: 0;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}

	.casino-feature {
		// padding: 8px;
		padding: 0;
		// border: 1px solid rgba($white, 0.2);
		border: none;
		background: none;
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 8px;

		&.green,
		&.danger {
			background: none;
			// border: 1px solid rgba($white, 0.2);
			border: none;
		}
	}

	.casino-feature-value {
		font-size: 16px;
		color: $white;
		line-height: 1;
	}

	.casino-feature-title {
		margin-bottom: 0;
		p {
			display: none;
		}
	}
	.package-header {
		display: none;
	}

	.package-item-title {
		display: block;
		font-size: 14px;
		color: $gray;
	}

	.package-row {
		grid-template-columns: repeat(2, 1fr);
		gap: 8px 16px;
		padding: 12px;
	}

	.package-item:nth-child(5) {
		grid-column: 1 / -1;
		margin-top: 8px;
	}

	.package-item-bonuscode {
		grid-column: 1 / -1;
		margin-top: 8px;
	}

	.casino-related__items {
		grid-template-columns: repeat(1, 1fr);
		gap: 8px;
	}

	.casino-related__item {
		border-radius: 4px;
	}

	.casino-related__item_title {
		font-size: 16px;
	}
}

.casino-page-top-mobile {
	display: none;
}

@media screen and (max-width: 550px) {
	.casino-page-top-mobile {
		display: flex;
		gap: 8px;
		align-items: center;
		margin-bottom: 16px;

		.casino-feature {
			justify-content: center;
			padding: 8px 12px;
			width: 100%;
			&.green {
				background: rgba($green, 0.1);
				border: 1px solid $green;
			}
			&.danger {
				background: rgba($red, 0.1);
				border: 1px solid $red;
				color: $red;
			}
		}
	}
	.casino-features {
		margin-top: 8px;
		display: flex;
		flex-wrap: wrap;
		gap: 8px 0;
		justify-content: space-between;
	}

	.casino-feature {
		width: 32%;
		border: 1px solid $gray;
		justify-content: center;
		padding: 8px;
		background: $bg-card;

		&:nth-child(4) {
			width: 49%;
		}
		&:nth-child(5) {
			width: 49%;
		}

		&.danger {
			background: rgba($red, 0.1);
			border: 1px solid $red;
		}

		&.green {
			background: rgba($green, 0.1);
			border: 1px solid $green;
		}
	}

	.casino-main-info__title {
		font-size: 14px;
	}
}
