.label {
	display: inline-block;
	padding: 4px 16px; /* 0.5rem = 8px, 1rem = 16px */
	border-radius: 24px;
	font-size: 14px; /* 0.875rem = 14px */
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.primary {
	background-color: $primary;
	color: #ffffff;
}

.success {
	background-color: #28a745;
	color: #ffffff;
}

.danger {
	background-color: #dc3545;
	color: #ffffff;
}
