<aside class="aside">
	<div class="aside-wrap">
		<div class="aside-item">
			<h2 class="aside-title h4">Payment</h2>
			<div class="aside-item__search">
				<input type="text" class="aside-item__input" placeholder="Search" />
			</div>
			<ul class="aside-list readmore-li">
				<li class="aside-list-item"><a href="#">Understanding HTML Structure</a></li>
				<li class="aside-list-item"><a href="#">CSS Flexbox Guide</a></li>
				<li class="aside-list-item"><a href="#">JavaScript Basics</a></li>
				<li class="aside-list-item"><a href="#">Responsive Web Design</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
			</ul>

			<p class="showmore-link">
				<span>Show More</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="lucide lucide-chevron-down-icon lucide-chevron-down"
				>
					<path d="m6 9 6 6 6-6" />
				</svg>
			</p>
		</div>

		<div class="hr gray aside-hr"></div>
		<div class="aside-item">
			<h2 class="aside-title h4">Payment</h2>
			<div class="aside-item__search">
				<input type="text" class="aside-item__input" placeholder="Search" />
			</div>
			<ul class="aside-list readmore-li">
				<li class="aside-list-item"><a href="#">Understanding HTML Structure</a></li>
				<li class="aside-list-item"><a href="#">CSS Flexbox Guide</a></li>
				<li class="aside-list-item"><a href="#">JavaScript Basics</a></li>
				<li class="aside-list-item"><a href="#">Responsive Web Design</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
			</ul>
		</div>

		<div class="hr gray aside-hr"></div>
		<div class="aside-item">
			<h2 class="aside-title h4">Payment</h2>
			<div class="aside-item__search">
				<input type="text" class="aside-item__input" placeholder="Search" />
			</div>
			<ul class="aside-list readmore-li">
				<li class="aside-list-item"><a href="#">Understanding HTML Structure</a></li>
				<li class="aside-list-item"><a href="#">CSS Flexbox Guide</a></li>
				<li class="aside-list-item"><a href="#">JavaScript Basics</a></li>
				<li class="aside-list-item"><a href="#">Responsive Web Design</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
				<li class="aside-list-item"><a href="#">Web Accessibility Standards</a></li>
			</ul>
		</div>

		<div class="">Тут можно баннер или что угодно</div>
	</div>
</aside>
