<section class="bonus-cards">
	<div class="bonus-cards__top">
		<h2 class="h2">Zagolovok dl9 spiska bonuses lalala</h2>
		<p class="text-descr">
			И нет сомнений, что ключевые особенности структуры проекта рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок.
			Кстати, многие известные личности формируют глобальную экономическую сеть и при этом — превращены в посмешище, хотя само их
			существование приносит несомненную пользу обществу.
		</p>
	</div>

	<div class="hr gray"></div>

	<!-- Btns -->
	<div class="bonus-cards-sort">
		<div class="bonus-cards-sort-item --pin">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" stroke="currentColor" height="24" viewBox="0 0 24 24" fill="none">
				<path
					d="M20 10C20 14.993 14.461 20.193 12.601 21.799C12.4277 21.9293 12.2168 21.9998 12 21.9998C11.7832 21.9998 11.5723 21.9293 11.399 21.799C9.539 20.193 4 14.993 4 10C4 7.87827 4.84285 5.84344 6.34315 4.34315C7.84344 2.84285 9.87827 2 12 2C14.1217 2 16.1566 2.84285 17.6569 4.34315C19.1571 5.84344 20 7.87827 20 10Z"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
				<path
					d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"
					stroke-width="1.5"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</svg>
		</div>
		<button class="bonus-cards-sort-item active">Active</button>
		<button class="bonus-cards-sort-item">Free Bonus</button>
		<button class="bonus-cards-sort-item">Free Player Type</button>
	</div>

	<!-- Sort -->
	<div class="bonus-cards-results">
		<p>321 233 results</p>
		<div class="sort-button">
			<p>Sort by:</p>
			<svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<path d="M3 16L7 20L11 16" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
				<path d="M7 20V4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
				<path d="M11 4H21" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
				<path d="M11 8H18" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
				<path d="M11 12H15" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</div>
	</div>

	<!-- Bonuses -->
	<div class="bonus-cards-wrap">
		<!--  -->
		@@include('bonus-card.html', { "title": "234% Match Huatch Bonus Huonus asd 234%"})
		<!--  -->
		@@include('bonus-card.html', { "title": "234% Match Huatch Bonus Huonus asd 234%"})
		<!--  -->
		@@include('bonus-card.html', { "title": "234% Match Huatch Bonus Huonus asd 234%"})
	</div>

	<div class="bonus-cards-loadmore">
		<button class="btn primary">Load 10 more bonuses</button>
	</div>
</section>
