<div class="bonus-card">
	<!--  -->
	<div class="bonus-card__header">
		<h3 class="bonus-card__title"><a href="#">@@title</a></h3>
		<div class="bonus-card__date">1 hour ago</div>
	</div>
	<!-- Body -->
	<div class="bonus-card__body">
		<div class="bonus-card__image">
			<img src="https://img.freepik.com/premium-vector/casino-mascot-logo-design_142989-268.jpg" alt="Title" />
		</div>

		<div class="bonus-card__info">
			<!-- Code -->
			<div class="bonus-card-bonuscode">
				<div class="bonuscode">asdasd</div>
				<div class="bonus-comp-item__label">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke="currentColor" viewBox="0 0 24 24" fill="none">
						<path
							d="M18 21C18 18.8783 17.1571 16.8434 15.6569 15.3431C14.1566 13.8429 12.1217 13 10 13C7.87827 13 5.84344 13.8429 4.34315 15.3431C2.84285 16.8434 2 18.8783 2 21"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						></path>
						<path
							d="M10 13C12.7614 13 15 10.7614 15 8C15 5.23858 12.7614 3 10 3C7.23858 3 5 5.23858 5 8C5 10.7614 7.23858 13 10 13Z"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						></path>
						<path
							d="M22 20C22 16.63 20 13.5 18 12C18.6575 11.5068 19.1832 10.8591 19.5306 10.1143C19.8781 9.36946 20.0366 8.55048 19.9921 7.72981C19.9476 6.90914 19.7015 6.1121 19.2755 5.40921C18.8496 4.70633 18.2569 4.11927 17.55 3.70001"
							stroke-width="1.5"
							stroke-linecap="round"
							stroke-linejoin="round"
						></path>
					</svg>
					<p>123</p>
				</div>
			</div>

			<div class="bonus-code-gametypes">
				<div class="bonus-code-gametypes__title">Game types:</div>
				<div class="bonus-code-feature__value"><a href="">Baccarat</a> <a href="">Slots</a> <a href="">Keno</a></div>
			</div>

			<div class="hr gray"></div>
			<!-- List -->
			<div class="bonus-code-features">
				<div class="bonus-code-feature">
					<div class="bonus-code-feature__title">Players:</div>
					<div class="bonus-code-feature__value">New & Existing</div>
				</div>
				<div class="bonus-code-feature">
					<div class="bonus-code-feature__title">Wagering:</div>
					<div class="bonus-code-feature__value red">40xB</div>
				</div>

				<div class="bonus-code-feature">
					<div class="bonus-code-feature__title">Active:</div>
					<div class="bonus-code-feature__value yellow">yes</div>
				</div>

				<div class="bonus-code-feature">
					<div class="bonus-code-feature__title">Max cash out:</div>
					<div class="bonus-code-feature__value">300$</div>
				</div>

				<div class="bonus-code-feature">
					<div class="bonus-code-feature__title">Until:</div>
					<div class="bonus-code-feature__value">26.07.2030 <span class="green">(Active)</span></div>
				</div>
			</div>
		</div>
	</div>

	<div class="bonus-card__text_wrap">
		<div class="bonus-card__text readmore">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rem perspiciatis perferendis id animi obcaecati dicta impedit quod,
				corrupti porro voluptates amet voluptatibus similique, non nulla modi vero, aliquam iusto?
			</p>
			<br />
			<b>Lorem.</b>
			<br />
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rem perspiciatis perferendis id animi obcaecati dicta impedit quod,
				corrupti porro voluptates amet voluptatibus similique, non nulla modi vero, aliquam iusto?
			</p>
		</div>
	</div>

	<div class="bonus-card-casinos">
		<div class="bonus-card-casinos__title">Valid for casinos</div>
		<div class="bonus-card-casinos__list">
			<!-- Item -->
			<div class="bonus-card-casinos__item">
				<div class="bonus-card-casinos__item_img">
					<img src="https://img.freepik.com/premium-vector/casino-mascot-logo-design_142989-268.jpg" alt="фва" />
				</div>

				<h3 class="bonus-card-casinos__item_title">Casino Name Name</h3>

				<div class="bonus-card-casinos__item_btns">
					<a href="#" class="btn primary sm">Play Now</a>
				</div>
			</div>
			<!-- Item -->
			<div class="bonus-card-casinos__item">
				<div class="bonus-card-casinos__item_img">
					<img src="https://img.freepik.com/premium-vector/casino-mascot-logo-design_142989-268.jpg" alt="фва" />
				</div>

				<h3 class="bonus-card-casinos__item_title">Casino Name Name</h3>

				<div class="bonus-card-casinos__item_btns">
					<a href="#" class="btn primary sm">Play Now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="bonus-card-footer">
		<div class="bonus-card-footer__btns">
			<button class="btn success sm">Like 12</button>
			<button class="btn danger sm">Dislike 12</button>
		</div>
	</div>
</div>
