<div class="casino-comp">
	<div class="casino-comp__header">
		<h3 class="casino-comp__title">Заголовок для выборки казино</h3>
		<div class="casino-comp__title_info">
			<div class="label success">123</div>
			<div class="primary label">asd</div>
			<div class="label danger">fsdfsdf</div>
		</div>
	</div>

	<div class="casino-comp-list">
		<!-- item -->
		<div class="casino-comp-item">
			<div class="casino-comp-item__left">
				<div class="casino-comp__logo">
					<img src="https://img.freepik.com/premium-vector/casino-mascot-logo-design_142989-268.jpg" alt="" />
				</div>
				<p class="casino-comp-item__title">Dexsport Casino</p>
			</div>
			<div class="casino-bonus-wrap">
				<div class="casino-bonus">
					<div class="casino-bonus__text">First Deposit Bonus</div>

					<div class="casino-bonus__tooltip">
						<div class="bonus-popup" role="dialog" aria-modal="true">
							<button class="bonus-popup__close" aria-label="Закрыть"></button>

							<h3 class="bonus-popup__title">100% + 100 FS First Deposit Bonus</h3>
							<div class="casino-bonus__overlay"></div>
							<div class="bonuscode" style="cursor: pointer">KAJDHFKLSDJFH</div>

							<dl class="bonus-popup__details">
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Wagering</dt>
									<dd class="bonus-popup__definition">40xB</dd>
								</div>
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Min deposit</dt>
									<dd class="bonus-popup__definition">€20</dd>
								</div>
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Games</dt>
									<dd class="bonus-popup__definition">All except selected games (FS – Book of Dead, Mystery Joker & Legacy of Dead)</dd>
								</div>
							</dl>

							<div class="bonus-popup__note">
								<p>Minimum deposit: €20. Wagering: 40xB. Only used once. Terms and conditions apply.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="casino-bonus">
					<div class="casino-bonus__text">100% + 100 FS First Deposit Bonus</div>

					<div class="casino-bonus__tooltip">
						<div class="bonus-popup" role="dialog" aria-modal="true">
							<button class="bonus-popup__close" aria-label="Закрыть"></button>

							<h3 class="bonus-popup__title">100% + 100 FS First Deposit Bonus</h3>

							<div class="bonuscode" style="cursor: pointer">KAJDHFKLSDJFH</div>

							<dl class="bonus-popup__details">
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Wagering</dt>
									<dd class="bonus-popup__definition">40xB</dd>
								</div>
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Min deposit</dt>
									<dd class="bonus-popup__definition">€20</dd>
								</div>
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Games</dt>
									<dd class="bonus-popup__definition">All except selected games (FS – Book of Dead, Mystery Joker & Legacy of Dead)</dd>
								</div>
							</dl>

							<div class="bonus-popup__note">
								<p>Minimum deposit: €20. Wagering: 40xB. Only used once. Terms and conditions apply.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="casino-bonus exclusive">
					<div class="casino-bonus__text">100% + 100s</div>

					<div class="casino-bonus__tooltip">
						<div class="bonus-popup" role="dialog" aria-modal="true">
							<button class="bonus-popup__close" aria-label="Закрыть"></button>

							<h3 class="bonus-popup__title">100% + 100 FS First Deposit Bonus</h3>

							<div class="bonuscode" style="cursor: pointer">KAJDHFKLSDJFH</div>

							<dl class="bonus-popup__details">
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Wagering</dt>
									<dd class="bonus-popup__definition">40xB</dd>
								</div>
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Min deposit</dt>
									<dd class="bonus-popup__definition">€20</dd>
								</div>
								<div class="bonus-popup__row">
									<dt class="bonus-popup__term">Games</dt>
									<dd class="bonus-popup__definition">All except selected games (FS – Book of Dead, Mystery Joker & Legacy of Dead)</dd>
								</div>
							</dl>

							<div class="bonus-popup__note">
								<p>Minimum deposit: €20. Wagering: 40xB. Only used once. Terms and conditions apply.</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="casino-comp-item__btns">
				<a href="#" class="btn primary">Visit</a>
			</div>
		</div>
	</div>

	<div class="bonus-comp-footer">
		<button class="primary btn bonus-comp-load-more sm">
			<span>Load 10 More Casinos</span>
		</button>
	</div>
</div>
