<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<a href="#" class="footer-logo logo">LOGO</a>

			<nav class="footer-top-nav">
				<a href="">Casinos</a>
				<a href="">Bonuses</a>
				<a href="">Games</a>
			</nav>
		</div>
		<div class="hr gray footer-hr"></div>

		<div class="gamble-aware-block">
			<div class="gamble-aware-block__logos">
				<div class="gamble-aware-block__logo">
					<span class="logo-black-age">18+</span>
					<img src="./images/logos/bga.svg" alt="" />
				</div>
			</div>
			<div class="gamble-aware-block__text">
				<p>
					<b>DISCLAIMER:</b> Participating in online games that involve wagering may be illegal in certain jurisdictions. Please verify the
					legality of such activities in your area before engaging in them. Chipy.com is not responsible for any actions you take.
				</p>

				<p>Gambling can be addictive. Play with caution.</p>
			</div>

			<div class="gamble-aware-block__links">
				<a href=""></a>
			</div>
		</div>

		<div class="hr gray footer-hr"></div>
	</div>

	<div class="footer-copy">
		<div class="container">© Copyright 2025 - yura.com All Rights Reserved.</div>
	</div>
</footer>
