<header class="header">
	<div class="container">
		<div class="header__wrap">
			<a href="#" class="logo">BEST<span>BONUS</span></a>

			<nav class="header__nav">
				<a href="#" class="header__link">
					<p>Bonuses</p>
					<span class="header__link-count">20 new</span>
				</a>
				<a href="./casinos.html" class="header__link">
					<p>Casinos</p>
					<span class="header__link-count">20 new</span>
				</a>
				<a href="#" class="header__link active">
					<p>Bonus</p>
					<span class="header__link-count">20 new</span>
				</a>
			</nav>

			<div class="header__left">
				<input type="text" class="input" placeholder="Search " name="" id="" />
				<!-- <button class="btn">asd</button> -->
			</div>

			<div class="burger"><span></span><span></span><span></span></div>
		</div>
	</div>
</header>

<div class="mobile-menu">
	<div class="container">
		<div class="mobile-menu__wrap">
			<!-- Search -->
			<div class="mobile-menu-header">
				<form class="mobile-menu-search">
					<input type="text" class="mobile-menu-search__input" placeholder="Search " />
					<button type="submit" class="btn primary">Search</button>
				</form>
			</div>

			<!-- NAv -->
			<div class="hr"></div>

			<nav class="mobile-menu-nav">
				<a href="#" class="header__link">
					<p>Bonus</p>
					<span class="header__link-count">20 new</span>
				</a>
				<a href="#" class="header__link">
					<p>Bonus</p>
					<span class="header__link-count">20 new</span>
				</a>
				<a href="#" class="header__link active">
					<p>Bonus</p>
					<span class="header__link-count">20 new</span>
				</a>
			</nav>
		</div>
	</div>
</div>
