<div class="container">
	<section class="subscribe-section">
		<h2 class="h2 subscribe-section__title">H2 title for subscription section with form</h2>
		<p class="subscribe-section__text text-descr">
			Subscribe now to NonStopBonus newsletter and stay up to date with the best casino bonuses, latest casinos and top games to play!
		</p>

		<form action="" class="subscribe-section__form">
			<input type="email" class="input" required placeholder="Enter your email address" />
			<button type="submit" class="btn primary">Subscribe</button>
		</form>

		<p class="form-policy-text">
			By signing up you are certifying that you have read and accepted NonStopBonus.com's <a href="">Terms & Conditions</a> and <a href=""
				>Privacy Policy</a
			>
		</p>
	</section>
</div>
