@import "functions";
@import "mixins";

* {
	&::-webkit-scrollbar {
		inline-size: 4px;
		background-color: $bg-color;
	}

	&::-webkit-scrollbar-track {
		border-radius: 4px;
		background: #eff3fb;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 15px;
		border: 0 none #fff;
		background-color: #1b1b1b;
	}
}
