$primary: #9906ef;
$primary-hover: #7a05c2;
$black: #222222;
$text-black: #222222;
$text-gray: #737373;
$white: #fafafa;
$gray: #737373;
$gray-light: #d9d9d9;

$container: 1480px;
$container-padding: 20px;
$radius: 4px;
$green: #00b300;
$red: #ff0000;

$bg-color: #070708;
$bg-card: #1a1a1b;
